[user]
	name = p_t
	email = ladiciushm@gmail.com
[color]
	ui = true
[credential]
	helper = cache
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	df = diff
	dfc = diff --cached
	stl = stash list
	sts = stash save
	sta = stash apply
	stp = stash pop
	std = stash drop
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(red)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
	lg = !"git lg1"
[init]
	templatedir = /home/p_t/.git_template
[push]
	default = current
[core]
	editor = nvim
[rebase]
	autosquash = true
