[user]
	name = hrfmmr
	email = i@hrfmmr.com
[color]
	ui = true
[credential]
	helper = cache
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	df = diff
	dfc = diff --cached
	stl = stash list
	sts = stash save
	sta = stash apply
	stp = stash pop
	std = stash drop
    lg = log \
        --pretty='format:%C(magenta)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' \
        --date=format:'%Y/%m/%d %H:%M:%S' \
        --all \
        --graph
	li = !hub issue --format='%sC %i %t labels:%l milestone:%Mt | %as  %Nc%n'
    lp = !hub pr list --format='%sC %i %t labels:%l milestone:%Mt | author:@%au  %Nc%n'
	issue = "!ghi show $(echo $(git symbolic-ref --short HEAD) | awk -F "/" '{print $NF}')"
	pr = !hub browse -- compare/$(git symbolic-ref --short HEAD)'?'expand=1'&'body=%0A%23$(echo $(git symbolic-ref --short HEAD) | awk -F '[/_-]' '{print $NF}')
[pull]
	rebase = false
[push]
	default = current
[core]
	editor = nvim
[github]
	user = hrfmmr
[ghi]
	token = !security find-internet-password -a hrfmmr -s github.com -l 'ghi token' -w
[ghq]
	root = ~/src
; [url "ssh://git@github.com/"]
  ; insteadOf = https://github.com/
