nodejs 14.17.6
mysql 5.7.31
ecspresso 2.0.0
jsonnet 0.19.1
golang 1.19.5
lua 5.4.4
stylua 0.16.0
neovim nightly
github-cli 2.22.1
tfsec 1.28.1
terraform-ls 0.30.1
git 2.39.1
shellcheck 0.9.0
poetry 1.4.0
