snippet details "Toggle folds open/close"
<details><summary>${1:title}</summary>

${2:body}
</details>
endsnippet

snippet before_after_screenshots "Table of before|after images"

before|after
:---:|:---:
<img width="320" src="${1:A}"> | <img width="320" src="${2:B}">

endsnippet
